* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    /* width: 750px; */
    margin: auto;

    font-family: "Futura", sans-serif;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;

    position: fixed;
    top: 0;
    width: 100%;
}

.header li {
    float: left;
    border-right: 1px solid #bbb;
}

.header li:last-child {
    border-right: none;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover {
    background-color: #111;
}

.active {
    background-color: #495057;
}

.page {
    background-color: #14213d;
    padding: 50px;

    font-family: "Futura", sans-serif;

    display: flex;
    flex-direction: column;
}

.bio-container {
    display: flex;
}

.bio-text {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.projects-container {
    display: flex;
}

.projects-text {
    display: flex;
    flex-direction: column;
}

.contact-container {
    display: flex;
}

.contact-text {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.page p {
    color: #e5e5e5;
}

h1 {
    color: #e5e5e5;
}

h2 {
    color: #FCA311;
}

h3 {
    color: #FCA311;
}

strong {
    color: #e5e5e5;
}

ul {
    color: #e5e5e5;
}

hr {
    padding: 25px;
}

.footer p {
    text-align: center;
}

img {
    height: 250px;
    width: 250px;
}

a:link {
    text-decoration: none;
    color: blue;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    .bio-container,
    .projects-container,
    .contact-container {
        flex-direction: column;
    }

    .bio-text,
    .contact-text {
        margin-left: 0px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}
